.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-indent-1 {
  padding-left: 0px;
}
.left-indent-2 {
  padding-left: 30px;
}
.left-indent-3 {
  padding-left: 60px;
}
.left-indent-4 {
  padding-left: 90px;
}
.left-indent-5 {
  padding-left: 120px;
}
.left-indent-6 {
  padding-left: 150px;
}
.left-indent-7 {
  padding-left: 180px;
}
.left-indent-8 {
  padding-left: 210px;
}